<header>
  <p id="notice"><%= notice %></p>
  <h1>我的微博列表</h1>
</header>
<div id="main-body">
  <div id="micropost-main-list">
    <div class="micropost-iterm">
      <%= render 'form' %>
    </div>

    <% @microposts.each do |micropost| %>
    <div class="micropost-iterm">
      <div class="micropost-content">
        <%= micropost.content %>
      </div>

      <div class="micropost-user">
        <%= micropost.user_id %>
      </div>

      <div class="micropost-action">
        <%= link_to '查看', micropost %>
        <%= link_to '编辑', edit_micropost_path(micropost) %>
        <%= link_to '删除', micropost, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>
  </div>

</div>
